In [1]:
# 모듈 불러오기
import numpy as np
import pandas as pd

In [16]:
# 시리즈 데이터 생성
# 파이썬의 모든 데이터는 리스트로 존재한다.
data = [4, 7, -5, 3, 9, 8.5]
obj = pd.Series(data)
val = obj.values * 10
print(val)
idx = obj.index
print(idx)
obj.dtype

[ 40.  70. -50.  30.  90.  85.]
RangeIndex(start=0, stop=6, step=1)

dtype('float64')

In [27]:
obj2 = pd.Series(data, index=['a', 'b', 'c', 'd', 'e', 'f'])
print(obj2)
print(obj2[0])
print(obj2['a'])

a    4.0
b    7.0
c   -5.0
d    3.0
e    9.0
f    8.5
dtype: float64
4.0
4.0

In [34]:
# dictionary의 key가 Series의 index가 된다
# 파이썬의 딕셔너리 데이터가 시리즈로 변환 가능하다.
sdata = {'Kim': 35000, 'Beomwoo': 67000, 'Joan': 12000, 'Choi': 4000}
obj3 = pd.Series(sdata)
print(obj3)
print(obj3['Kim'])
print(obj3[0])
print(obj3[0:2])

Kim        35000
Beomwoo    67000
Joan       12000
Choi        4000
dtype: int64
35000
35000
Kim        35000
Beomwoo    67000
dtype: int64

In [40]:
idx1 = ['A', 'B', 'C', 'D']
obj3.index = idx1
print(obj3)
print(obj3['A'])
print(obj3[0])

A    35000
B    67000
C    12000
D     4000
dtype: int64
35000
35000

In [44]:
# 데이터프레임을 생성
# Data Frame 정의하기
# 이전에 DataFrame에 들어갈 데이터를 정의해주어야 하는데,
# 이는 python의 dictionary 또는 numpy의 array로 정의할 수 있다.
data = {'name': ['Beomwoo', 'Beomwoo', 'Beomwoo', 'Kim', 'Park'],
        'year': [2013, 2014, 2015, 2016, 2015],
        'points': [1.5, 1.7, 3.6, 2.4, 2.9]}
df = pd.DataFrame(data)
df

      name  year  points
0  Beomwoo  2013     1.5
1  Beomwoo  2014     1.7
2  Beomwoo  2015     3.6
3      Kim  2016     2.4
4     Park  2015     2.9

In [50]:
df.columns

Index(['name', 'year', 'points'], dtype='object')

In [55]:
df['name']

0    Beomwoo
1    Beomwoo
2    Beomwoo
3        Kim
4       Park
Name: name, dtype: object

In [57]:
df['name'].values

array(['Beomwoo', 'Beomwoo', 'Beomwoo', 'Kim', 'Park'], dtype=object)

In [59]:
df['name'].values[3]

'Kim'